h3 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #262B35;
    padding-top: 15px;
}

.section {
    font-family: 'Inter';
}

.container {

}

.headerBlock {
    margin-left: 119px;
    margin-top: 182px;
    margin-right: 361px;
    width: 960px;
    height: 96px;
}

.headerBlockText {
    font-style: italic;
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0.01em;
    color: #606C84;
}

.title {
    text-align: center;
    margin-top: 128px;
}

.titleName {
    padding-right: 40px;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 140%;
    letter-spacing: -0.02em;
    letter-spacing: 0.6em;
    text-transform: uppercase;
    color: #1C57C9;
}

.blocks {
    display: flex;
}

.blockLeft {
    min-width: 661px;
}

.pictures {
    max-width: 661px;
}

.blockRight {

}

.blockTitle {
    margin: 0 auto;
    padding-top: 16px;
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 140%;
    letter-spacing: -0.02em;    
    color: #262B35;
}

.blockText {
    margin-top: 24px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    color: #606C84;
}

.gridn1 {
    display: flex;
    padding-top: 43px;
    gap: 88px;
}

.gridn2 {
    display: flex;
    padding-top: 56px;
    gap: 92px;
}

.gridText {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #606C84;
}

