.header {
    font-family: 'Inter', sans-serif;
    color: #FFFFFF;
    list-style-type: none;
}

.container {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    background-color: rgb(112, 125, 124);
    padding: 35px 0;
}

.logo {
    display: flex;
    align-items: center;
    margin-left: 119px;
}

.pictures {
    padding-top: 5px;
}

.text {
    padding-left: 12px;
    font-size: 22px;
    line-height: 27px;

}

.pages {
    flex-grow: 2;
    text-align: left;
    padding-left: 115px
}

.button {
    text-decoration: none;
    font-size: 15px;
    line-height: 18px;
    margin-right: 42px;
    color: #FFFFFF;
}

:nth-last-child(1) {
    margin: 0;
}

.nav {
    display: flex;
    flex-basis: 242px;
    text-align: left;
    gap: 34px;
    margin-right: 119px;
    font-size: 13px;
    line-height: 16px;  
}

.navbutton {
    color: #262B35;
    text-decoration: none;
    margin-right: 10px;
}