.firstFloor {
    font-family: 'Inter', sans-serif;
}

.container {
    background-color: #FFFFFF;
    display: flex;
}

.block1 {
    background-color: #1C57C9;
    padding-left: 119px;
    border-bottom-right-radius: 55% 75%;
}

.title {
    max-width: 600px;
    max-height: 204px;
}

.titleText {
    padding-top: 77px;
    font-style: normal;
    font-weight: 700;
    font-size: 55px;
    line-height: 72px;
    letter-spacing: -0.02em;
    color: #FFFFFF;
}

.titleTextColor {
    color: #1ECE7A;
}

.text {
    margin-top: 36px;
    padding-right: 421px;
}

.textText {
    padding-top: 77px;
    font-style: normal;
    font-size: 20px;
    line-height: 160%;
    font-weight: 400;
    color: #FFFFFF;
}

.buttons {
    display: flex;
    padding-top: 63px;
    margin-bottom: 205px;
}

.button {
    padding: 13px 23px;
    border: 1px solid #FFFFFF;
    background-color: transparent;
    font-style: normal;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
}

.buttonTwo {
    padding: 13px 23px;
    margin-left: 16px;
    border: 1px solid #FFFFFF;
    background-color: transparent;
    font-style: normal;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
}

.block2 {
    background-color: #FFFFFF;
}

.pictures {

}

.picturesName {
    
}